<div class="container">
    <div class="form-container">
        <div class="title">Create Account</div>
        <form [formGroup]="createAccountForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter your Email</mat-label>
                <input matInput formControlName="email"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your Username</mat-label>
                <input type="text" matInput formControlName="username"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your Password</mat-label>
                <input type="password" matInput formControlName="password"/>
            </mat-form-field>
        </form>
        <!-- {{createAccountForm.value | json}} -->
        <div class="buttons-container">
            <button mat-raised-button class="login-button">
                Create Account
            </button>
            <p>OR</p>
            <button mat-button routerLink="/login">
                Login
            </button>
        </div>
    </div>
</div>
